<a href="https://colab.research.google.com/github/cabbi120101/TIL/blob/master/%EA%B3%B5%EB%AA%A8%EC%A0%84%EA%B3%B5%EB%B6%80/%EC%BD%94%EB%A1%9C%EB%82%98(%EC%84%9C%EC%9A%B8%EA%B5%AC%EB%B3%84%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%A0%80%EC%9E%A5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
 ! pip install xmltodict

Requirement already satisfied: xmltodict in /usr/local/lib/python3.7/dist-packages (0.12.0)

In [13]:

from urllib.request import urlopen, Request
from urllib.parse import urlencode, unquote, quote_plus
import urllib
import requests
import json
import pandas as pd
import xmltodict # 결과가 xml 형식으로 반환된다. 이것을 dict 로 바꿔주는 라이브러리다

In [14]:
#저장한 csv파일 불러오기(encoding 할 필요 없음)
data_file = '/content/datafile/서울시 코로나19 확진자 현황-2 - 서울시 코로나19 확진자 현황-2.csv'
df = pd.read_csv(data_file)
df

          연번         확진일  환자번호  ...                  등록일                  수정일 노출여부
0      51941  2021-07-05   NaN  ...   2021-07-06 9:49:19   2021-07-06 9:49:19    Y
1      51940  2021-07-05   NaN  ...   2021-07-06 9:49:19   2021-07-06 9:49:19    Y
2      51939  2021-07-05   NaN  ...   2021-07-06 9:49:19   2021-07-06 9:49:19    Y
3      51938  2021-07-05   NaN  ...   2021-07-06 9:49:19   2021-07-06 9:49:19    Y
4      51937  2021-07-05   NaN  ...   2021-07-06 9:49:19   2021-07-06 9:49:19    Y
...      ...         ...   ...  ...                  ...                  ...  ...
51936      5  2020-01-31   NaN  ...  2021-05-27 11:08:12  2021-05-27 11:08:12    Y
51937      4  2020-01-30   NaN  ...  2021-05-27 11:08:12  2021-05-27 11:08:12    Y
51938      3  2020-01-30   NaN  ...  2021-05-27 11:08:12  2021-05-27 11:08:12    Y
51939      2  2020-01-30   NaN  ...  2021-05-27 11:08:12  2021-05-27 11:08:12    Y
51940      1  2020-01-24   NaN  ...  2021-05-27 11:08:12  2021-05-27 11:08:12    Y

[51941 rows x 14 columns]

In [15]:
df.tail()

       연번         확진일  환자번호  ...                  등록일                  수정일 노출여부
51936   5  2020-01-31   NaN  ...  2021-05-27 11:08:12  2021-05-27 11:08:12    Y
51937   4  2020-01-30   NaN  ...  2021-05-27 11:08:12  2021-05-27 11:08:12    Y
51938   3  2020-01-30   NaN  ...  2021-05-27 11:08:12  2021-05-27 11:08:12    Y
51939   2  2020-01-30   NaN  ...  2021-05-27 11:08:12  2021-05-27 11:08:12    Y
51940   1  2020-01-24   NaN  ...  2021-05-27 11:08:12  2021-05-27 11:08:12    Y

[5 rows x 14 columns]

In [16]:
#결측값 확인
df.isnull()

          연번    확진일  환자번호    국적  환자정보  ...     상태  이동경로    등록일    수정일   노출여부
0      False  False  True  True  True  ...  False  True  False  False  False
1      False  False  True  True  True  ...  False  True  False  False  False
2      False  False  True  True  True  ...  False  True  False  False  False
3      False  False  True  True  True  ...  False  True  False  False  False
4      False  False  True  True  True  ...  False  True  False  False  False
...      ...    ...   ...   ...   ...  ...    ...   ...    ...    ...    ...
51936  False  False  True  True  True  ...  False  True  False  False  False
51937  False  False  True  True  True  ...  False  True  False  False  False
51938  False  False  True  True  True  ...  False  True  False  False  False
51939  False  False  True  True  True  ...  False  True  False  False  False
51940  False  False  True  True  True  ...  False  True  False  False  False

[51941 rows x 14 columns]

In [17]:
#결측치 개수 확인
df.isnull().sum()

연번          0
확진일         0
환자번호    51941
국적      51941
환자정보    51941
지역          0
여행력     50668
접촉력         0
조치사항    51941
상태          0
이동경로    51941
등록일         0
수정일         0
노출여부        0
dtype: int64

In [18]:
#변수 df에서 필요없다고 생각하는 열을 제거함
df =df.drop(columns=['연번','환자번호','국적','환자정보','여행력','접촉력','조치사항','상태','이동경로','등록일','수정일','노출여부'])
df

              확진일   지역
0      2021-07-05  성동구
1      2021-07-05  성동구
2      2021-07-05  송파구
3      2021-07-05  타시도
4      2021-07-05  타시도
...           ...  ...
51936  2020-01-31  성북구
51937  2020-01-30  마포구
51938  2020-01-30  종로구
51939  2020-01-30  중랑구
51940  2020-01-24  강서구

[51941 rows x 2 columns]

In [19]:
df.isnull().sum()

확진일    0
지역     0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51941 entries, 0 to 51940
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   확진일     51941 non-null  object
 1   지역      51941 non-null  object
dtypes: object(2)
memory usage: 811.7+ KB

In [22]:
df = pd.DataFrame(df)
df.to_csv('/content/datafile/코로나(서울구별데이터처리).csv', index = False)